@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width:100%;
  display: flex;
  flex-grow: 1;
  text-align: center;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
/* fix rainbowkit container not taking full width */
body div#root div[data-rk] {
  width: 100%
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}